
Day-1/.DS_Store
.DS_Store
Exercise-1/Day-2/.metadata/.lock
Exercise-1/Day-2/.metadata/.log
Exercise-1/Day-2/.metadata/.plugins/org.eclipse.core.resources/.history/14/e04309b3edb0001d1503a8af45718f93
*.index
*.dat
*.tree
*.version
*.resources
*.prefs
*.launch
*.xml
*.xmi
*.txt
*.history
*.ser
*.log
*.setup
*.properties
*.js
*.ini
Exercise-1/Day-2/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
Exercise-1/Day-2/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Exercise-1/Day-2/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Exercise-1/Day-2/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Exercise-1/Day-2/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Exercise-1/Day-2/.metadata/.plugins/org.eclipse.ui.intro/introstate
Exercise-1/Day-2/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
